<a href="https://www.skyliner.io/"><%= image_tag 'logo.svg', id: 'logo' %></a>
<%= image_tag 'headline.svg', id: 'headline' %>
<p>
  Test push
</p>

<div>
  <a class="button" href="https://www.skyliner.io/congratulations">Take me back to Skyliner</a>
</div>
